/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 16, 2018, 3:37:38 PM
    Author     : mboniardi
*/

.lmn_footer {
    background-image: url("../img/sse_background.png");
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    margin: 0 auto;
}

.lmn_flower {
    font-weight: bold;
    color: #222222;
    font-family: sans-serif;
    font-size: 15px;
    vertical-align: top;
}

.lmn_mainTable {
    background-image: url("../img/ctf_desktop.png"); 
}

.lmn_title {
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    font-size: 25px; 
}

.lmn_menu, a.lmn_menu:link, a.lmn_menu:visited {
    background-image: url("../img/sse_background.png");
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    font-size: 15px; 
}

a.lmn_menu:hover {
    font-weight: bold;
    background-color: white;
    color: black;
    text-decoration: none;
}

a.lmn_menu:active {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.lmn_body, a.lmn_body:link, a.lmn_body:visited, a.lmn_body:hover, a.lmn_body:active {
    font-weight: bold;
    color: #ec008b;
    font-family: sans-serif;
    font-size: 20px; 
    text-decoration: none;
}

.lmn_bodyTitle {
    font-weight: bold;
    color: #ec008b;
    font-family: sans-serif;
    font-size: 30px; 
    text-decoration: none;
}
